<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="soap_test_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <soap_test_1.Properties.Settings>
            <setting name="soap_test_1_localhost_soaplite_Employee" serializeAs="String">
                <value>http://www.emex.org/SOAP/test.wsdl</value>
            </setting>
        </soap_test_1.Properties.Settings>
    </applicationSettings>
</configuration>