<?xml version="1.0" encoding="utf-8" ?>
<emex-options>
  <configured></configured>
  <backend>
    <server>127.0.0.1</server>
    <port>8080</port>
    <authentication>
      <username></username>
      <password></password>
    </authentication>
    <path></path>
  </backend>
  <account>
    <address></address>
    <password></password>
  </account>
</emex-options>